html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1a75ff;
  overflow: hidden;
}

/* Dropdown menu css */

ul {
  list-style-type: none;
  margin: 1%;
  padding: 1%;
  overflow: hidden;
  background-color: white;
}
li {
  float: left;
  font-size: 1.2vw;
}
a {
  color: #1a75ff;
  font-family: initial;
}
li a, .dropdownbut {
  display: inline-block;
  color: #1a75ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropdownbut {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  color: #1a75ff;
  display: none;
  position: absolute;
  background-color: #1a75ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {

}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Standaard tekstopmaak paginas met veel tekst */

.header {
  color: white;
  font-family: initial;
  float: center;
  font-size: 2vw;
  font-weight: bold;
}
.uitleg {
  color: white;
  font-family: initial;
  float: center;
  font-size: 1vw;
}

/* CSS index.html */

#homepage {
  overflow: auto;
}
#repodiv {
  float: left;
  width: 19%;
  text-align: center;
  background-color: white;
  padding: 1%;
  margin-left: 1%;
}
.sideheader {
  font-size: 2vw;
  color: black;
  text-align: center;
}
#repolink {
  text-decoration: none;
  color: black;
  font-size: 1vw;
}
#homeinfo {
  font-size: 1.5vw;
  color: white;
  width: 54%;
  margin-left:1%;
  float: left;
  padding: 1%;
}
#about {
  float: left;
  width: 19%;
  margin-left: 1%;
  background-color: white;
}
#about_us {
  font-size: 1vw;
  text-align: center;
  padding: 3%;
  color: black;
}
@media only screen and (max-width:800px) {
  #repodiv, #homeinfo, #about {
    width: 100%;
  }
}
/* CSS materials.html */

#nano {
  display: block;
  width: 35%;
  height: auto;
  align: center;
}
